{% extends 'base.html' %}
{% block 'title' %}Freedom of WiFis{% endblock %}
{% block 'content' %}
<h1 class="text-center">Parole pentru localuri in Cluj</h1>
<div class="panel panel-default">
  <div class="panel-heading">Informatii</div>
  <table class="table table-hover">
    <tr>
        <th>Nume</th>
        <th>Adresa</th>
        <th>Parola</th>
    </tr>
      {% for location in locations %}
        <tr>
            <td>{{ location.name }}</td>
            <td>{{ location.location }}</td>
            <td>{{ location.get_password }}</td>
        </tr>
      {% endfor %}
  </table>
</div>
{% endblock %}